body{
    background-color: #151C28;
}
h1{
    text-align: center;
    color: #FFE14F;
}
h1 span {
    color: #8daec6
}
nobr {
    color: #8DAEC6;
}

main section {
    border: 2px solid #ffe14f;
    border-radius: 5px;
    width: 500px;
    margin: 10px auto;
    padding: 10px;
}

main section img {
    height: 150px;
}
