/* algmene css */
* {
    font-family: Verdana, sans-serif;
}

body {
    background-image: url("assets/achtergrond.jpg");
    background-attachment: fixed;
    background-size: cover;
}

/* Typografie*/

h1 {
    font-size: 44px;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: #051d62;
    font-weight: 700;
}

img {
    width: 250px;
    height: 250px;
    border: 2px solid #000;

}

/* Structuurelementen opmaak */

header {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    color: #fff; /* mag in hoofdletters ook*/
}

nav {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.5);
}

nav ul {
    list-style-type: none;
    padding: 0;
}

main {
    width: 1000px;
    margin: 0 auto;
    border-radius: 10px;
}

main section {
    padding: 20px;
    margin: 50px 0;
    border-radius: 10px;
}

#pukkelpop {
    background-color: rgba(241, 84, 217, 0.5);
    padding: 20px;
}

#rw {
    background-color: rgba(14, 8, 181, 0.5);
    color: #FFFFFF;
    padding: 20px;

}

#tomorrowland {
    background-color: rgba(115, 68, 106, 0.5);
    color: #FFFFFF;
    padding: 20px;
}

#graspop {
    background-color: rgba(20, 15, 8, 0.5);
    color: #FFFFFF;
    padding: 20px;
}

#bastion {
    background-color: rgba(242, 235, 156, 0.5);
    padding: 20px;
}


footer {
    background-color: rgba(0, 0, 0, 0.8);
    color: #FFFFFF;
    padding: 20px;
    text-align: center;
}
