/* Algemene CSS*/
body {
    background-image: url("assets/forest_trees_fog_110131_1920x1080.jpg");
    background-attachment: fixed;
    background-size: cover;
}

/* Specifieke CSS*/
nav ul li {
    list-style-type: none;
}

nav ul li {
    font-weight: bold;
    color: darkgreen;
    text-decoration: underline;
}

main {
    background-color: white;

    /*
    Algemene padding
    padding: 20px;

    specifieke padding
    padding-top: 25px;
    padding-right: 30px;
    padding-bottom: 75px;
    padding-left: 50px;

    Algemene padding, ga met de klok mee en begin langs boven
    padding: 25px 30px 75px 50px;
    */
    padding: 25px 30px 75px 50px;

    /* Witruimte buiten het tekstvlak
    margin: 100px;

       border-top-width: 10px;
       border-top-color: darkgreen;
       border-top-style: dotted;
       border-top: 10px, darkgreen dotted;

     */
    border: 1px darkgrey solid;
    border-radius: 50px;


    width: 800px;
    margin: 100px auto;
}

main ul li {
    list-style-type: circle;
}

main ol li {
    list-style-type: upper-roman;
    background-color: dimgrey;
    list-style-position: inside;
}
